.container  {   
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    }
    
    .box {
        height: 200px;
        background-color: orange;
        margin: 10px;
        width: 200px;
    
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }